<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-16">
    <h2 class="text-5xl mb-4 font-semibold text-gray-900 px-4">
      Por que ouvir esse<!-- -->&nbsp;<span class="underline">audiobook?</span>
    </h2><div class="flex-none sm:flex">
      <div class="text-lg text-gray-600 sm:flex-1 px-4">
        <p class="mb-4">
          Conheça o novo audiobook dos 14 Hábitos de Desenvolvedores Altamente
          Produtivos.
        </p><p class="mb-4">
          Ele foi gravado por mim, o autor, e não um cara randômico com voz de
          robô. Ele tem a participação do meu amigo, Fernando Vieri, que discute
          comigo as ideias do livro no final de cada capítulo.
        </p><p class="mb-4">
          Esse é um formato único, parte audiobook, parte podcast. Você pode
          pensar nisso como uma edição especial com conteúdo extra apresentando
          insights mais profundos e histórias não disponíveis em outros
          formatos.
        </p><p class="mb-4 italic">Ouça um trecho gratuito:</p><p class="mb-4">
          <audio
            src="/static/(Amostra)-14-Habitos-de-Desenvolvedores-Altamente-Produtivos.mp3"
            controls=""></audio>
        </p>
      </div><div class="text-lg text-gray-600 sm:flex-1 px-4">
        <img
          class="mb-4 rounded-md"
          src="/author.jpeg"
          alt="Audiobook Recording"
        />
      </div>
    </div>
  </div>
</div>
