---
import { Image } from "astro:assets";

import { author } from "../config.json";
---

<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-16">
    <h2 class="text-5xl mb-8 font-semibold text-gray-900 px-4">
      Por que ouvir esse<!-- -->&nbsp;<span class="underline">audiobook?</span>
    </h2><div class="flex-none sm:flex">
      <div class="text-lg text-gray-600 sm:flex-1 px-4">
        <p class="mb-4">
          O audiobook é uma forma de ampliar as experiências com a leitura,
          ajudará a ampliar as formas de acesso ao livro, além de ter o livro
          gravado inteiramente pelo próprio autor.
        </p><p class="mb-4">
          Significa que o leitor terá uma edição especial, única.
        </p><p class="mb-4 italic">Ouça um trecho gratuito:</p><p class="mb-4">
          <audio src="/audiobook-parte-1.mp4" controls=""></audio>
        </p>
      </div><div class="text-lg text-gray-600 sm:flex-1 px-4">
        <Image
          class="mb-4 rounded-md"
          src={"/audiobook.jpeg"}
          width={500}
          height={500}
          alt={author.name}
          format={"avif"}
        />
      </div>
    </div>
  </div>
</div>
