---
import Github from "./icons/Github.svelte";
import Linkedin from "./icons/Linkedin.svelte";
import Twitter from "./icons/Twitter.svelte";
---

<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-16">
    <h2 class="text-5xl mb-4 font-semibold text-gray-900 px-4">
      Why this<!-- -->&nbsp;<span class="underline">book?</span>
    </h2><div class="flex-none sm:flex">
      <div class="sm:flex-1 px-4">
        <img class="mb-4 rounded-md" src="/author.jpeg" alt="Zeno Rocha" />
      </div><div class="text-lg text-gray-600 sm:flex-1 px-4">
        <p class="mb-4">Hey 👋 I'm Zeno Rocha!</p><p class="mb-4">
          More than ten years ago, I started my career as a software engineer. I
          worked in small companies. I worked in big companies. I traveled the
          world, spoke in more than 110 conferences, and met thousands of
          developers.
        </p><p class="mb-4">
          I never wanted to write a book, but I realized that being a developer
          is more than knowing the hottest tools. Because of that, I decided to
          reach out to the best developers I know and ask them tips on how to be
          more productive.
        </p><p class="mb-4">
          This book is a collection of valuable learnings not only from me but
          from experienced programmers from all over the world.
        </p><p class="text-sm italic text-gray-500">
          Los Angeles, United States
        </p><div class="flex flex-row my-2">
          <a href="https://github.com/zenorocha" target="_blank"
            ><Github />
          </a><a href="https://twitter.com/zenorocha" target="_blank"
            ><Twitter />
          </a><a href="https://linkedin.com/in/zenorocha" target="_blank">
            <Linkedin />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
