<div class="bg-book-gray text-gray-50 py-12">
  <p class="text-xl text-center">
    Made with<!-- -->
    <span class="text-3xl text-pink-400 love">♥</span>
    <!-- -->by<!-- -->
    <a
      class="text-book-theme border-b-2 border-transparent hover:border-book-yellow transition ease-in-out duration-300"
      href="https://www.candidosales.me/"
      target="blank">Cândido Sales</a
    >
  </p>
</div>
