<main
  class="mx-auto max-w-screen-xl px-4 mb-8 mt-32 sm:mb-12 sm:px-6 md:mt-32 md:mb-20 xl:mt-23 xl:mb-24"
>
  <div class="lg:grid lg:grid-cols-12 lg:gap-8">
    <div class="md:max-w-1xl md:mx-auto lg:col-span-8">
      <div class="text-base uppercase tracking-wide mb-4">
        <img
          class="inline h-5 relative"
          style="top:3px"
          src="/amazon.svg"
          alt="amazon.com"
        /> best-seller
      </div><h1
        class="mt-1 text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:leading-none sm:text-6xl lg:text-5xl xl:text-6xl"
      >
        14 Habits of Highly<!-- -->&nbsp;<br class="hidden md:inline" /><span
          class="underline">Productive Developers</span
        >
      </h1><p
        class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl"
      >
        You can learn the most popular frameworks, use the best programming
        languages, and work at the biggest tech companies, but if you cultivate
        bad habits, it will be hard for you to become a top developer.
      </p><p
        class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl"
      >
        This book doesn't offer a straight path or pre-defined formula of
        success. This book is a result of a quest. A quest to uncover what
        habits can be cultivated to become a better software engineer.
      </p><div>
        <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
          <div>
            <a
              href="#ebook"
              class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 rounded-md font-semibold text-book-gray bg-book-yellow hover:bg-yellow-200 focus:outline-none transition duration-300 ease-in-out md:py-4 md:text-lg md:px-10"
              >Get the Book</a
            >
          </div><div class="mt-3 sm:mt-0 sm:ml-3">
            <a
              href="#audiobook"
              class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 rounded-md font-semibold text-book-yellow bg-book-gray hover:bg-gray-800 focus:outline-none transition duration-300 ease-in-out md:py-4 md:text-lg md:px-10"
              >Get the Audiobook</a
            >
          </div>
        </div><p class="mt-3 text-sm text-book-gray sm:mt-5 sm:text-base">
          Or <a
            download=""
            href="/static/(Sample)-14-Habits-of-Highly-Productive-Developers.pdf"
            class="underline hover:bg-book-yellow transition ease-in-out duration-300"
            >download the first chapter</a
          > for free.
        </p>
      </div>
    </div><div
      class="mt-12 relative sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-4 lg:flex lg:items-center"
    >
      <a class="book-container" href="#ebook"
        ><div class="book">
          <img
            src="/cover.jpeg"
            alt="14 Habits of Highly Productive Developers"
          />
        </div>
      </a>
    </div>
  </div>
</main>
