---
import config from "../config.json";
---

<div class="bg-white">
  <div class="max-w-screen-xl mx-auto px-4 pb-16">
    <h2 class="text-3xl leading-9 font-extrabold text-gray-900">
      Alguma pergunta?
    </h2><div class="mt-6 border-t-2 border-gray-100 pt-10">
      <dl class="md:grid md:grid-cols-2 md:gap-8">
        <div>
          <div>
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">
                Is this book for Junior or Senior Software Engineers?
              </dt><dd class="mt-2">
                <p class="text-base leading-6 text-gray-500 font-body">
                  Both! No matter how experienced you're there is always room
                  for improvement. This book can help you cultivate new habits
                  or rethink existing behaviors.
                </p>
              </dd>
            </div>
          </div><div class="mt-12">
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">
                Is there a refund policy?
              </dt><dd class="mt-2">
                <p class="text-base leading-6 text-gray-500 font-body">
                  Yes, books from the Kindle Store are eligible for return
                  within 7 days of the date of purchase.
                </p>
              </dd>
            </div>
          </div><div class="mt-12">
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">
                Is there a paper version available?
              </dt><dd class="mt-2">
                <p class="text-base leading-6 text-gray-500 font-body">
                  Yes! Now there's a fancy hardcover version made with creme
                  paper.
                </p>
              </dd>
            </div>
          </div>
        </div><div class="mt-12 md:mt-0">
          <div>
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">
                What if I'm NOT a Software Engineer?
              </dt><dd class="mt-2">
                <p class="text-base leading-6 text-gray-500 font-body">
                  I truly believe this book can help anyone working in the tech
                  industry. Even if you're a Project Manager, Designer, or
                  Student, you can still extract key lessons from this book.
                </p>
              </dd>
            </div>
          </div><div class="mt-12">
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">
                Can I share this book with my team?
              </dt><dd class="mt-2">
                <p class="text-base leading-6 text-gray-500 font-body">
                  If you want to share the book with your team, company, or
                  class, please suggest them to purchase their own individual
                  copies.
                </p>
              </dd>
            </div>
          </div><div class="mt-12">
            <div>
              <dt class="text-lg leading-6 font-medium text-gray-900">
                What if I have another question?
              </dt><dd class="mt-2">
                <p class="text-base leading-6 text-gray-500 font-body">
                  Send me an email at {config.author.email}
                </p>
              </dd>
            </div>
          </div>
        </div>
      </dl>
    </div>
  </div>
</div>
